/* GENERAL STYLING, INCLUDING DESKTOP SCREEN */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #EEEEEE;
    text-decoration: none;
}

a:visited {
    color: #EEEEEE;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    padding: 0 0.2rem;
}

body {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

header {
    background-color: #211F4A;
    color: #EEEEEE;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
}

nav {
    background-color: #333154;
    color: #EEEEEE;
    overflow: scroll;
    display: flex;
}

body>section {
    background-color: hsl(240, 2%, 10%);
    color: #EEEEEE;
    padding: 2dvh;
}

body>section>p {
    display: flex;
    padding-left: 5dvh;
    justify-content: start;
    align-items: anchor-center;
}

aside {
    background-color: #333154;
    color: #EEEEEE;
    overflow: scroll;
}

footer {
    background-color: #211F4A;
    color: #EEEEEE;
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#l5 {
    vertical-align: text-top;
}

.socmed {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: anchor-center;
    margin-left: 2dvh;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trademark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 0.5dvh;
}

.img-container {
    flex: 1/4;
}

img {
    object-fit: cover;
    width: 25dvh;
    height: auto;
}



/* TABLET LANDSCAPE STYLING */
@media (max-width: 1112px) {
    body {
        display: grid;
        height: 100dvh;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
    }

    aside {
        grid-column: span 3;
    }
}

/* TABLET PORTRAIT STYLING */
@media (max-width: 834px) {
    body {
        display: grid;
        height: 100dvh;
        grid-template-rows: 0.8fr 0.6fr 3fr 0.6fr;
    }

    nav {
        grid-column: span 3;
    }

    nav>ul {
        display: flex;
        flex-direction: row;
    }

    aside>ul {
        display: flex;
        flex-direction: row;
    }

    section {
        grid-column: span 3;
    }
}

/* MOBILE LANDSCAPE STYLING */
@media (max-width: 414px) {
    body {
        display: grid;
        height: 100dvh;
        grid-template-rows: 0.8fr 1fr 1.5fr 1fr;
    }

    nav {
        grid-column: span 3;
    }

    nav>ul {
        display: grid;
    }

    aside>ul {
        display: grid;
    }

    section {
        grid-column: span 3;
    }


    .trademark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
}